[Desktop Entry]
Name=Flameshot
GenericName=Screenshot tool
Comment=Powerful yet simple to use screenshot software.
Exec=flameshot
Icon=flameshot
Terminal=false
Type=Application
Categories=Graphics;Utility;
StartupNotify=false
X-GNOME-Autostart-enabled=true
