[Desktop Entry]
Type=Application
Name=rundll32
MimeType=application/pkix-cert;
Exec=env "WINEPREFIX=/home/asv-spb/.wine" wine start /ProgIDOpen "CERFile" %f
NoDisplay=true
StartupNotify=true
Icon=5742_rundll32.0
