[Desktop Entry]
Name=ZCode
Comment=ZCode Desktop App
Exec="/opt/ZCode/zcode" %U
Terminal=false
Type=Application
Icon=zcode
Categories=Development;
MimeType=x-scheme-handler/zcode;
StartupWMClass=ZCode
